<section>
  <img class="me" src="assets/images/me.jpg" alt="me" />
  <p>
    Hello! I'm Wan Kei Hui, a front-end web developer currently based in
    Toronto. With three years of experience in the field, I specialize in
    creating visually appealing and user-friendly web experiences.
  </p>

  <p>
    Having worked as a full-time front-end developer in Hong Kong, I have
    collaborated on a variety of projects across different industries. I am
    skilled in HTML, CSS, JavaScript, and modern front-end frameworks like React
    and Vue.js.
  </p>

  <p>
    I believe that effective communication and collaboration are key to
    delivering exceptional results. By understanding clients' goals and visions,
    I ensure that my work aligns perfectly with their needs.
  </p>
  <p>
    I'm excited to be part of Toronto's tech community and eager to contribute
    my skills to exciting projects. Whether you're an individual, startup, or
    established organization, I'm ready to collaborate and bring your digital
    ideas to life.
  </p>

  <p>
    Thank you for visiting my page. Feel free to explore my portfolio and reach
    out for any inquiries or collaboration opportunities.
  </p>
</section>
