<!-- This is project  page -->
<section>
  <div class="services">
    <img
      ngSrc="assets/images/vue.webp"
      alt="vue"
      height="260"
      width="520"
      priority
    />
    <p>
      As a skilled software engineer and experienced web developer, I offer a
      range of services to cater to your digital needs. Here are some of the key
      services I provide:
    </p>
    <ol>
      <li>
        Web Development:
        <ol>
          <li>Custom website design and development</li>
          <li>Responsive and mobile-friendly layouts</li>
          <li>Front-end development using HTML, CSS, and JavaScript</li>
          <li>
            Integration of content management systems (CMS) like WordPress
          </li>
        </ol>
      </li>
      <li>
        User Interface (UI) Design:
        <ol>
          <li>Engaging and intuitive user interface design</li>
          <li>Wireframing and prototyping</li>
          <li>Conversion-focused landing page design</li>
          <li>Usability testing and optimization</li>
        </ol>
      </li>
      <li>
        Front-End Development:
        <ol>
          <li>HTML5, CSS3, and JavaScript development</li>
          <li>Cross-browser compatibility and performance optimization</li>
          <li>Integration of front-end frameworks (React, Vue.js)</li>
          <li>Progressive Web Apps (PWA) development</li>
        </ol>
      </li>
      <li>
        Responsive Design:
        <ol>
          <li>Mobile-first and responsive website development</li>
          <li>Adaptation of existing websites for optimal mobile experience</li>
          <li>Responsive email template design</li>
        </ol>
      </li>
      <li>
        Website Maintenance and Support:
        <ol>
          <li>Regular website updates and maintenance</li>
          <li>Bug fixing and troubleshooting</li>
          <li>Performance monitoring and optimization</li>
        </ol>
      </li>
      <li>
        Technical Consulting:
        <ol>
          <li>Technology recommendations and guidance</li>
          <li>Project planning and strategy</li>
          <li>Architectural design and implementation</li>
        </ol>
      </li>
    </ol>
  </div>
</section>
