.services {
    max-width: 520px;
    width: 100%;
    margin: 40px auto 60px;
}

ol {
    margin-bottom: 12px;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}