<!-- This is project page -->
<section>
  <h3>E-Commerce Website Redesign</h3>
  <div>
    <img src="assets/images/project1.png" alt="E-Commerce Website Redesign" />

    <p>
      In this project, I collaborated with a team to redesign and enhance an
      existing e-commerce website for a fashion brand. As the lead front-end
      developer, I was responsible for implementing the new design, optimizing
      the user interface, and ensuring seamless functionality across different
      devices. The outcome was a visually appealing and user-friendly website
      that saw a significant increase in user engagement and conversion rates.
    </p>
  </div>
  <h3>Mobile App Development</h3>
  <div>
    <img src="assets/images/project2.png" alt="Mobile App Development" />

    <p>
      I played a key role in developing a mobile app for a travel startup.
      Working closely with the design team, I implemented the app's user
      interface and integrated it with the back-end services. My
      responsibilities included front-end development, performance optimization,
      and ensuring a smooth user experience. The app received positive feedback
      from users and garnered a high rating on app stores, contributing to the
      startup's growth and success.
    </p>
  </div>
  <h3>Corporate Website Launch</h3>
  <div>
    <img src="assets/images/project3.png" alt="Corporate Website Launch" />

    <p>
      As the sole developer, I led the development and launch of a corporate
      website for a financial services company. I collaborated with the client
      to understand their requirements and translated them into a modern,
      responsive website. My role involved front-end development, integrating
      third-party APIs for data visualization, and optimizing the website for
      search engines. The new website improved the company's online presence,
      attracting more leads and increasing customer engagement.
    </p>
  </div>
</section>
