.card {
    border: 1px solid black;
    margin-bottom: 13px;
    padding: 10px;
}

p {
    margin: 0;
}

.buttons {
    margin-top: 14px;
    display: flex;

    button {
        padding: 5px 10px;
        margin-right: 10px;
    }
}