a {
    padding: 0 10px;
    display: block;
}

a.active {
    font-weight: 700;
}

nav {
    margin-right: -15px;
    padding: 15px 0 ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
