<nav>
  <a
    class="button"
    routerLink="/home"
    ariaCurrentWhenActive="page"
    routerLinkActive="active"
    >Home</a
  >
  |
  <a
    class="button"
    routerLink="/about"
    ariaCurrentWhenActive="page"
    routerLinkActive="active"
    >About Me</a
  >
  |
  <a
    class="button"
    routerLink="/projects"
    ariaCurrentWhenActive="page"
    routerLinkActive="active"
    >Projects</a
  >
  |
  <a
    class="button"
    routerLink="/services"
    ariaCurrentWhenActive="page"
    routerLinkActive="active"
    >Services</a
  >
  |
  <a
    class="button"
    routerLink="/contact"
    ariaCurrentWhenActive="page"
    routerLinkActive="active"
    >Contact Me</a
  >
</nav>
